body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}
.col-lg-7 mx-auto{
    position: relative;
    padding-left: 170px;
}
.btn-success{
    color: #fff;
    background-color: #ff7d94;
    border-color: #ff7d94;
}
